<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd" >

<suite name="Page Object Model">

	<listeners>
		<listener class-name="org.uncommons.reportng.HTMLReporter"></listener>
		<listener
			class-name="org.uncommons.reportng.JUnitXMLReporter"></listener>
		<listener class-name="com.learning.listeners.CustomListeners"></listener>
	</listeners>

	<!-- thread-count="5" -->
	<test name="Login Test">
		<classes>
			<class name="com.learning.testcases.LoginTest" />
		</classes>
	</test>


	<test name="Create Account Test">
		<classes>
			<class name="com.learning.testcases.CreateAccountTest" />
		</classes>
	</test>

</suite> <!-- Suite -->
